html, body {
  background: rgb(242,209,224);
  background: linear-gradient(319deg, rgba(242,209,224,1) 0%, rgba(223,244,219,1) 61%, rgba(145,227,246,1) 100%);
}
  html, body {margin: 0; height: 100%; overflow: hidden}


  
  
  #scene-container {
    width: 100vw;
    height: 100vh;
  }

  h2 {
    font-family: 'Courier New', Courier, monospace;
  }

  #loader{
  text-align: center;
  }

  .loader {
    border: 16px solid #5c5c5c;
    border-radius: 50%;
    border-top: 16px solid black;
  border-bottom: 16px solid black;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 3s linear infinite; /* Safari */
    animation: spin 3s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 20%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }