html {
  background: rgb(31,232,254);
  background: linear-gradient(135deg, rgba(31,232,254,1) 0%, rgba(51,111,255,1) 100%);
}
  html, body {margin: 0; height: 100%; overflow: hidden}

.media {
  top: 40%;
  position: absolute;
    display: block;
    z-index: 265;
    text-align: center;
    font-size: 1.6em;
    font-family: monospace;
    color: black;
    text-decoration:none;
    left: 0;
  right: 0;
  line-height: 2em;
  font-weight: bold;
  visibility: hidden;

  
}

a { 
  color:black;
  text-decoration:none;

}


  #scene-container {
    width: 100vw;
    height: 100vh;
  }

  h2 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0;
  }

  #loader{
  text-align: center;
  }
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: black;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 20%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .canvas-interactive-wrapper {
    position: relative;
    height: 100%;
    text-align: center;
}

.canvas-interactive-wrapper canvas {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}


.canvas-interactive-wrapper .cta-wrapper a {
    position: relative;
    display: inline-block;
    border: solid 1px transparent;
    z-index: -1;
    text-decoration: none;
    color: #222;
    transition: border .3s;
}
