html, body {
  background: rgb(124,231,235);
  background: linear-gradient(180deg, rgba(124,231,235,1) 1%, rgba(0,183,255,1) 30%);
  }
  html, body {margin: 0; height: 100%; overflow: hidden}


  
  
  #scene-container {
    width: 100vw;
    height: 100vh;
    /* display: none; */
  }

  #loader{
  text-align: center;
  }